<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<sessionState mode="InProc" cookieless="false" timeout="540"/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
	</system.web>
	<runtime></runtime>
	<appSettings>
		<!--<add key="modulo_id" value="1"/>-->
		<!--CONEXIÓN REAL
    <add key="servidor" value="1611ELCAPESTORE.mssql.somee.com"/>
    <add key="base" value="1611ELCAPESTORE"/>
    <add key="user" value="caballo_SQLLogin_1"/>
    <add key="pass" value="aepqkahruk"/>
	  CONEXIÓN LOCAL-->
		<add key="servidor" value="."/>
		<add key="base" value="baseStore"/>
		<add key="user" value="userStore"/>
		<add key="pass" value="c8249"/>
		<!--Variables-->
		<add key="activar_logs" value="true"/>
		<add key="title" value=" Tienda Online "/>
		<!--" San Antonio "," Firma Nativa "-->
		<add key="system_name" value="firma_nativa"/>
		<!--value (firma_nativa o san_antonio) Estética-->
		<add key="main_style" value="main_FN.css"/>
		<!--value (main_FN.css o main_SA.css)-->
	</appSettings>
</configuration>
